MONGO_URI=mongodb://kolb_user:kolb_pass@localhost:27017
MONGO_DB_NAME=kolb_db
MONGO_KOLB_COLLECTION=kolb_profiles
MONGO_USERS_COLLECTION=users
API_HOST=0.0.0.0
API_PORT=8000
AUTH_SECRET_KEY=change-this-secret
AUTH_ALGORITHM=HS256
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=60
